
.main-container{
  text-align: center;
  height: 100vh;
  display: grid;
  position: relative;
}
#question{
  text-align:center;
  text-decoration: 2px solid black;
}
#score-container{

  position: relative;
  margin: 20px;
  height: 40px;
  width: auto;
  background-color: aqua;
  border:1px solid black;
}
#letters{
  margin: 2px;
}

.available-letters{
  font-size: 30px;
  font-weight: bolder;
  cursor: pointer;

}

#solution-letters{
  font-size: 50px; 
}
#hint{
  margin-top: 50px;
  font-size: 20px;
  font-style: normal;
  border:1px solid black;
}

.box{
  margin:10px
}


.low-score{
  color:red
}

.medium-score{
  color: coral;
}

.high-score{
  color: greenyellow
}

#end-message1{
font-size: 50px;
color: rgb(236, 9, 9);
}

#end-message2{
  font-size: 50px;
  color: rgb(9, 236, 9);
}